/* Enter your custom styles here */

.myGreenTitle {
    color: var(--sapPositiveColor);
}

.myBorderBox {
    border: 2px solid #1ab622;
    border-radius: 1rem;
    padding: 1rem;
}

.titleBg {
    background-color: #659ef3;   /* light Fiori background */
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #d9d9d9;
}